.workspace-right_panel-shape
  .workspace-right_panel-header
    h2 Фигура
    buttom.workspace-right_panel-settings
  form.workspace-right_panel-container.scroll.mcsb-behavior.pd-submit-behavior
    if !isAnimation()
      .workspace-right_panel-container-shape
        if type == "rect"
          input.bind(bind-to="type", type="radio", name="shape", id = "rect", value="rect", checked)
        else
          input.bind(bind-to="type", type="radio", name="shape", value="rect", id = "rect")
        label.item1(for="rect")

        if type == "ellipse"
          input.bind(bind-to="type", type="radio", name="shape", value="ellipse", id = "ellipse", checked)
        else
          input.bind(bind-to="type", type="radio", name="shape", value="ellipse", id = "ellipse")
        label.item2(for="ellipse")

        //- if type == "round"
        //-   input.bind(bind-to="type", type="radio", name="shape", id = "round", checked)
        //- else
        //-   input.bind(bind-to="type", type="radio", name="shape", id = "round")
        //- label.item3(for="round")

      .floatleft.width100.margintop10
        .workspace-right_panel-container-color_picker
          //- не вешается active на блок!
          .set_color_div.set_color(data-valueelement = "set_text_input", data-styleelement = "set_slide_button")
            button#set_slide_button.set_color_button
            input#set_text_input.set_color_input(value=keyframes[keyframe()].props.fill, bind-to="fill")


        if shape == "round"            
          .workspace-right_panel-container-input_block.floatright
            span.radius Радиус угла
            .workspace-right_panel-container-block_plus.radius.margintop10
              input(type="text", value="500")
              button.plus
              button.minus     

      .workspace-right_panel-container_big
        h3 Позиция
        .workspace-right_panel-container-position
        
          if position == "1"
            input(type="radio", name="position", id = "1", checked="checked")
          else
            input(type="radio", name="position", id = "1")
          label.item1(for="1")

          if position == "2"
            input(type="radio", name="position", id = "2", checked="checked")
          else
            input(type="radio", name="position", id = "2")
          label.item2(for="2")

          if position == "3"
            input(type="radio", name="position", id = "3", checked="checked")
          else
            input(type="radio", name="position", id = "3")
          label.item3(for="3")

          if position == "4"
            input(type="radio", name="position", id = "4", checked="checked")
          else
            input(type="radio", name="position", id = "4")
          label.item4(for="4")
            
      .floatleft.width100.margintop10
        .workspace-right_panel-container-size_block
          .width50_percent.position
            label X
            input.bind-props(type="text", bind-to="x", value=keyframes[keyframe()].props.x, parse-float)
            span px
          .width50_percent.position.y
            label Y
            input.bind-props(type="text", bind-to="y", value=keyframes[keyframe()].props.y, parse-float)
            span px

      .floatleft.width100
        .workspace-right_panel-container-size_block.margintop_10
          .width50_percent.hor
            input.bind-props(type="text", bind-to="width", value=keyframes[keyframe()].props.width, parse-float)
            span px
          .width50_percent.ver
            input.bind-props(type="text", bind-to="height", value=keyframes[keyframe()].props.height, parse-float)
            span px

      .floatleft.width100
        .workspace-right_panel-container-size_block.margintop_10
          label Прозрачность, %    
          input.bind-opacity(type="text", style={ width: '50px' }, value=keyframes[keyframe()].props['fill-opacity']*100)

      .floatleft.width100.margintop10
        .workspace-right_panel-container-size_block
          .width100_percent.position
            label Угол
            input.bind-props(type="text", bind-to="angle", value=keyframes[keyframe()].props.angle, parse-float)

    if isAnimation()
      include ./_animations.jade