img(src="static/images/demo/layout_images.jpg")

ul(model-id=id)
  span.timeline_time
  for keyframe, i in keyframes
    - var left = keyframe.start*0.12 - 2.5
    .timeline_item-keyframe(
      style="left: " + left + "px;",
      keyframe-id=i
    )
    if i != 0
      - var offset = keyframes[i-1].start*0.12 
      - var dur    = (keyframe.start - keyframes[i-1].start)*0.12
      li.timeline-animation.process(
        style='left: ' + offset + 'px; width: ' + dur + 'px'
        keyframe-start=i-1
        keyframe-end=i
      )
  //- for animation, i in animations
  //-   - var offset = animation.start * 0.12
  //-   - var dur    = animation.duration * 0.12
  //-   - var dataAnimation = JSON.stringify(animation)
  //-   li(
  //-     style='left: ' + offset + 'px; width: ' + dur + 'px', 
  //-     data-animation=dataAnimation
  //-   )
